/* <ul id="nav">
<li class="slide1"></li>
<li class="slide2"></li>
<li><a href="#">Alpha</a></li>
<li><a href="#">Beta</a></li>
<li><a href="#">Gamma</a></li>
<li><a href="#">Delta</a></li>
<li><a href="#">Epsilon</a></li>
</ul> */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#nav {
    position: fixed; /* 将元素固定在页面上 */
    top: 0; /* 将元素定位到页面顶部 */
    border: none;
    border-radius: 10em;
    display: flex;
    list-style: none;
    background: #f5f5f5;
    box-shadow: 20px 40px 40px #00000033;
    padding: 10px;
}


#nav li a {
    position: relative;
    padding: 15px 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
    border: none;
    outline: none;
    color: rgb(70, 180, 107);
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}

.slide1,
.slide2 {
    position: absolute;
    display: inline-block;
    height: 60px;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

.slide1 {
    background-color: rgb(178, 230, 187);
    z-index: 2;
}

.slide2 {
    opacity: 0;
    background-color: rgba(170, 228, 255, 0.5);
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}

.squeeze {
    transform: scale(0.9);
}